<html>
 <head>
  <title>Quick Graphics</title>
 </head>
 <body>
  <ul>
<% for (var k = 0; k < scripts.length; k++) {
     var s = scripts[k];
 %>
    <li><a href="<%= s.link %>"><%= s.name %></li>
<% } %>
  </ul>
 </body>
</html>
